
@layer base {
  /* Section styling */
  .stb-section {
    @apply relative z-10 overflow-hidden;
  }
  
  .stb-section-1 {
    @apply bg-gradient-to-b from-sunny-yellow-pale via-sunny-orange-light/30 to-sunny-yellow-pale;
  }
  
  .stb-section-2 {
    @apply bg-gradient-to-r from-sunny-yellow-light/40 to-sunny-orange-light/20;
  }
  
  .stb-section-3 {
    @apply bg-gradient-to-br from-sunny-yellow/30 to-sunny-orange/10;
  }
  
  .stb-section-4 {
    @apply bg-sunny-soft;
  }
  
  /* Wave dividers */
  .stb-wave-divider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background-repeat: repeat-x;
    background-size: 100px 50px;
  }
  
  .stb-wave-divider-top {
    top: -49px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 120' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='%23FFFFFF' fill-opacity='0.8'%3E%3C/path%3E%3C/svg%3E");
  }
  
  .stb-wave-divider-bottom {
    bottom: -49px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 120' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V120H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='%23FFFFFF' fill-opacity='0.8'%3E%3C/path%3E%3C/svg%3E");
    transform: rotate(180deg);
  }
}
