
@tailwind utilities;

@layer utilities {
  .debug-overflow::after {
    content: '⚠️  overflow';
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: .25rem .5rem;
    background: red; color: #fff;
    font-size: .75rem; text-align: center;
    z-index: 9999;
    pointer-events: none;
  }
}
